body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
header{
    flex-basis: 15vh;
    flex-grow: 0;
    flex-shrink: 0;
}
nav{
    border: 2px solid green;
    order: 1;
    flex-basis: 30vh;
    flex-grow: 0;
    flex-shrink: 0;
}
article{
    border: 2px solid blue;
    order: 2;
    /*flex-basis: 147vh; !* uuuuuuu??*!*/
    flex-grow: 1;
    flex-shrink: 1;
}
aside{
    border: 2px solid greenyellow;
    order: 3;
    flex-basis: 30vh;
    flex-grow: 0;
    flex-shrink: 0;
}
footer{
    flex-basis: 15vh;
    flex-grow: 0;
    flex-shrink: 0;
}