body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
header{
    flex-basis: 15vh;
    flex-grow: 0;
    flex-shrink: 0;
}
nav{
    order: 1;
    flex-basis: 30vh;
    flex-grow: 0;
    flex-shrink: 0;
}
article{
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
}
aside{
    order: 3;
    flex-basis: 30vh;
    flex-grow: 0;
    flex-shrink: 0;
}
footer{
    flex-basis: 15vh;
    flex-grow: 0;
    flex-shrink: 0;
}