/*Schrijf hier jouw CSS*/

/* opdracht 1 */

.opdr-1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*opdracht 2 */

.opdr-2 ul{
    display: flex;
    flex-direction: row;
}
.opdr-2 li{
    flex-basis: 33%;
}
/* opdracht 3 */

.opdracht-3 > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.opdr-3-tl{
    align-self: flex-start;
}
.opdr-3-center{
    align-self: center;
}
.opdr-3-br{
    align-self: flex-end;
}

/* opderacht 4 */

.opdr-4 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

/* opdracht 5 */
.opdracht-5{
    display: flex;
}
.opdr-5{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-basis: 100%;
}
.opdr-5 ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-1{
    align-items: flex-start;
}
.col-2{
    align-items: center;
}
.col-3{
    align-items: flex-end;
}