/*Schrijf hier jouw CSS*/

/* opdracht 1 */

.opdr-1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*opdracht 2 */

.opdr-2 ul{
    display: flex;
    flex-direction: row;
}
.opdr-2 li{
    flex-basis: 600px;
}
