/*Schrijf hier jouw CSS*/

/* opdracht 1 */

.opdr-1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*opdracht 2 */

.opdr-2 ul{
    display: flex;
    flex-direction: row;
}
.opdr-2 li{
    flex-basis: 600px;
}
/* opdracht 3 */

.opdr-3 ul {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opdr-3-tl{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.opdr-3-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.opdr-3-br{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

/* opderacht 4 */

.opdr-4 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
}