/*colors #F2F3D9 #C16E70 */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F2F3D9;
    display: flex;
    flex-direction: column;
    flex-basis: 100vh;
    font-size: 25px;
}
header{
    border: red 2px solid;
    display: flex;
    flex-direction: row;
    flex-basis: 10vh;
    justify-content: flex-end;
    background-color: midnightblue;
    color: white;
}
.header{
    border: red 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-start;

}
.nav-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 500px;

}
ul{
    list-style: none;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis: 30vh;
}

.text-containers{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        /*flex-basis: 80vh;*/
}
section article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    max-width: 280px;
    height: 350px;
    background-color: #C16E70;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (min-width: 1200px) {

    body {
        font-size: 1rem;
    }
}