body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.outer-col-2{
    display: flex;
    flex-direction: column;
    flex-basis: 100vh;
    flex-grow: 1;
    flex-shrink: 1;
}

.inner-row{
    display: flex;
    flex-direction: row;
    flex-basis: 100vh;
    flex-grow: 1;
    flex-shrink: 1;
}
.inner-col{
    display: flex;
    flex-direction: column;
    flex-basis: 100vh;
    flex-grow: 1;
    flex-shrink: 1;
}
nav {
     flex-grow: 0;
     flex-shrink: 0;
    flex-basis: 20vh;
 }
header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15vh;
}
article{
    flex-basis: 100vh;
    flex-grow: 1;
    flex-shrink: 1;
}
aside{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20vh;
}
footer{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15vh;
}