body{
    display: flex;
    flex-direction: row;
}
.outer-col-2{
    display: flex;
    flex-direction: column;
}
.inner-row{
    display: flex;
    flex-direction: row;
}
.inner-col{
    display: flex;
    flex-direction: column;
}